body{
  font-family: 'Noto sans';
  color: #000000;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 100px;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #EB6223;
  font-size: 10px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif';
  font-weight: 900;
}
/* Nav Bar */

#header{
  background-color:#EB6223;
  padding: 0px;

}

/* Orders */
.orders{
  padding: 15px 0 0 5px;
}
.res-name{
  margin-bottom:0;
}
.min{
  
  font-size: 10px;
  color: #BDBDBD;
}
/* Restaurants */

#restaurants{
 padding: 15px 0 15px 5px;
}
#res-item{
  text-decoration: none;
  color: #000000;
}
#res-item:hover{
  color: #F37721;
}
.col{
  width: auto;
}
.res__scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 8px;
  
}
.res__scroll .row{
  display:inline;
}
.res__scroll .res__scroll--box {
  display: inline-block;
  float: none;
  padding-right:0px;
  
}

p{
  font-family:'Noto sans';
}
/* Cuisine */
#cuisine{
  padding: 15px 0 15px 5px;
  margin-bottom: 3px;
}
/* Promotions */
.promotions{
  padding: 15px;
}

.card > p {
  font-size: 12px;
}
/* footer */
.card-title{
 color: #fff;
}
.card-text{
color: #fff;
}
.social{
  text-align: center;
  padding-top: 2px;
}
.p-foot{
  margin: 2px 0px 2px 0px;
}
.icon-social{
  padding: 3px;
}

/* Profile */

#pro-header{
  text-align: center;
  padding: 10px;
 
 
}
#info{
  padding:10px;
}
#car-info{
  padding:10px;
}
